.box {
  margin-bottom: 136px;
  padding-top: 90px;
  padding-bottom: 88px;
  background-image: url("../images/box-bgi-blue.png");
  background-repeat: no-repeat;
  background-size:100%;
  background-position: calc(50% + 0px) calc(50% + 0px);
}

.box__inner {
  position: relative;
  margin-left: 287px;

    
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 277px);
    left: calc(50% - 21px); 
    display: inline-block;
    width: 613px;
    height: 481px;
    background-image: url("../../images/box-dog.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
  
  
.box__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #FFFFFF;
}

.form {
  display: flex;
  align-items: center;
}

.form__input {
  margin-right: 21px;
  padding-top: 18px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 22px;
  width: 335px;
  background: #FFFFFF;
  border-radius: 5px;
  border: transparent;
  outline: none;
}

.form__button {
  display: inline-block;
  padding: 14px 52px;
  background-color: #333333;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: transparent;
  color: #FFFFFF;
}