.hero {
  padding-top: 153px;
  padding-bottom: 238px;
  background-image:url("../../images/hero-bg.png"),url("../../images/hero-parrot.png") ;
  background-repeat: no-repeat;
  background-size: 870px 835px, 350px 430px;
  // background-size: contain;
  background-position: calc(50% - 530px) calc(50% - 120px), calc(50% + 675px) calc(50% + 152px);
}

.hero__inner {
  margin-left: auto;
  margin-right: 33px;
  width: 608px;
}

.hero__title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.hero__span {
  color: #78C0DE;
}

.hero__text {
  width: 495px;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.hero__link {
  display: inline-block;
  padding-top: 15px;
  padding-right: 48px;
  padding-bottom: 16px;
  padding-left: 47px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 3px;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}